<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shortmess">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shortmess">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".RecievActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.example.shortmess.NotyService"
            android:process=":services"
            android:exported="true">
            <intent-filter>
                <!-- Start/Stop service -->
                <action android:name="com.example.shortmess.NOTYSERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>